html { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  
}

*, *::before, *::after { 
	box-sizing: inherit; 
}



 .site-wrapper {
  	width: 1200px;
  	margin: 0 auto;
  	box-shadow: 2px 4px 70px -12px rgba(0,0,0,0.75);
  	position: relative;
  }


a {
text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	position: relative;
	min-height: 56px;
}

.main-header-logo {
 	position: absolute;
 	left: 50%;
 	margin-left: -70px;
 	z-index: 1;
 }

.main-navigation {
  
  min-height: 50px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
  	margin: 0;
  	padding: 12px 72px;
  	padding-top: 14px;
}

.site-navigation li {
	width: 20%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}



.site-navigation li:nth-child(2) {
	margin-right: auto;
	padding-left: 30px;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
	padding-right: 33px;
}

.site-navigation li:nth-child(4) {

}





.site-navigation a {
  	color: #000000;
}

.site-navigation a:hover {
	color: #81b4d3;
}

.site-navigation a:active,
.site-navigation a:focus {
	color: #cacaca;
}



.main-presetation {
	position: relative;
	text-align: center;
	padding-top: 74px; 
	padding-bottom: 77px;
 	background-image: url("../img/jpg/index-bac-photo.jpg");
 	background-repeat: no-repeat;
 	height: 506px;
 	position: top;

}

.main-presetation img {
	display: inline-block;
	margin-top: 3px;
}


.main-presetation-mask {
	position: absolute;
	background-image: url("../img/svg/intro-mask.svg");
	bottom: -3px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 58px;
}




.main-reasons {
	
	background-color: #ffffff;
	text-align: center;
	padding-top: 62px;
	padding-bottom: 36px;
	
}

.main-reasons b {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.main-reasons-text {
	line-height: 26px;
	margin-top: 28px;
}


/* REasons */



.reason-one {
	display: flex;

}

.index-picture img {
	display: block;
}

.reason-one-reason {
	background-color: #81b3d2;
	color: white;
	text-align: center;
	width: 400px;
	padding-top: 23px;
}

.reason-one .reason-one-reason {
	padding-top: 26px;
}

.reason-one-reason p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
    margin-top: 22px;
}

.reason-one-reason p:nth-child(2) {
	margin-top: 24px;
}

.reason-one-reason p:nth-child(3) {
	margin-top: 20px;
}

.general-reasons {
	display: flex;
	margin: 0;
  	padding: 0;
    list-style: none;
    text-align: center;
}

.general-reasons li {
	display: block;
	position: relative;
	width: 400px;
	padding-top: 139px;
	padding-bottom: 69px;
}

.general-reasons p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
    
 }

 p.icon-index-housing::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 73px;
 	top: 60px;
 	left: 163px;
 	background-image: url("../img/svg/icon-1.svg");
 	background-repeat: no-repeat;
 }

 p.icon-index-food::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 77px;
 	top: 61px;
 	left: 163px;
 	background-image: url("../img/svg/icon-3.svg");
 	background-repeat: no-repeat;
 }

 p.icon-index-souvenirs::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 77px;
 	top: 56px;
 	left: 168px;
 	background-image: url("../img/svg/icon-2.svg");
 	background-repeat: no-repeat;
 }


.reason-two {
	display: flex;
}

.last-reasons {
	display: flex;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 62px;
	background-color: #eeeeee;
}

.last-reasons p {
	margin: 0;
}

.last-reasons div {
	width: 400px;
}

.last-reasons p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
    margin-bottom: 22px;
}

.last-reasons p:nth-child(2) {
	margin-bottom: 21px;
}


/*form */

.main-hotel-search {
	position: relative;
	text-align: center;
	padding-top: 46px;
}

.main-hotel-search b {
	font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
}

.main-hotel-search-specify {
	line-height: 24px;
	margin-top: 24px;
}

.modal-button {
	font: inherit;
	text-transform: uppercase;
	min-height: 67px;
	min-width: 570px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
	background-color: #766357;
	border: none;
	margin-top: 34px;
	padding-top: 29px;
    padding-bottom: 31px;
}

.modal-button:hover {
	background-color: #604e44;
}

.modal-button:active,
.modal-button:focus {
	background-color: #503e32;
	color: #8f8a86;
}

form.hotel-search {
	position: absolute;
	width: 568px;
	z-index: 1;
	background: #ffffff;
	padding: 55px;
	left: 50%;
	margin-left: -284px;
}


.hotel-search div {
	display: flex;
	font: inherit;
	text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    align-items: center;
}

.hotel-search input {
	font: inherit;
	text-transform: uppercase;
	line-height: 26px;
    font-weight: 700;
	border: none;
	background-color: #f2f2f2;

}

input#arrival-date,
input#date-of-departure {
	width: 346px;
	height: 38px;
	padding: 13px;
	margin-left: auto;
}

div.departure {
	margin-top: 29px;
}

div.arrival,
div.departure {
	position: relative;
}



div.choice {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.adults,
.children {
	display: flex;
	align-items: center;
}

.adults-choice,
.children-choice {
	display: inline-flex;
	align-items: center;
	background-color: #f2f2f2;
}

input#numeral1,
input#numeral2 {
	text-align: center;
	width: 38px;
	height: 38px;
}

div.children {
	margin-left: auto;
}

.adults-choice {
	margin-left: 45px;
}

.children label {
	margin-right: 30px;
}

.button-main-form {
	width: 38px;
	height: 38px;
}

.hotel-search input:hover {
	background-color: #ebebeb;
	border: none;
}


.hotel-search input:active,
.hotel-search input:focus {
	border: 2px solid #e5e5e5;
	background-color: transparent;
}

.button-main-form {
	position: relative;
	
    background-color: #f2f2f2;
    border: none;
}



.button-main-form::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	top: 19px;
	left: 13px;
	background-color: #a9a9a9;
}

.button-main-form.button-main-form-plus::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	top: 19px;
	left: 13px;
	background-color: #a9a9a9;
	transform: rotate(90deg);
}


.button-main-form:hover::after,
.button-main-form.button-main-form-plus:hover::before {
	background-color: #000000;
}


.button-main-form:active::after,
.button-main-form.button-main-form-plus:active::before,
.button-main-form:focus::after,
.button-main-form.button-main-form-plus:focus::before {
	background-color: #81b3d2;
}


.button-main-form .button-main-form-minus:hover path {
	fill: #000000;
}

.button-main-form svg:active path,
.button-main-form svg:focus path {
	fill: #81b3d4;
}
 
.button-search {
	font: inherit;
	text-transform: uppercase;
	min-height: 60px;
	min-width: 458px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
	background-color: #81b3d2;
	border: none;
}

button.button-search {
	margin-top: 53px;
}

.button-search:hover {
	background-color: #669ebf;
}

.button-search:active,
.button-search:focus {
	background-color: #5596be;
	color: #95b9d3;
}

.calendar {
	position: absolute;
	width: 22px;
	height: 23px;
}

.calendar-up {
	top: 7px;
	right: 8px;
}

.calendar-down {
	top: 7px;
	right: 8px;
}

.calendar path {
	fill: #a9a9a9;
}

.calendar:hover path {
	fill: #000000;
}

.calendar:active path,
.calendar:focus path {
	fill: #81b3d2;
}

/* map */

.appointment {
	position: relative;
	z-index: 0;
}

.appointment img {
	max-width: 100%;
}


/* footer */

.main-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 133px;
	padding-bottom: 35px;
	padding-right: 86px;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8);

}

.main-footer-visit {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 10px;
}

.footer-social-buttons {
	display: flex;
	
	margin: 0;
	padding: 0;
	width: 151px;
	margin-left: 26px;
	justify-content: space-between;
}


.main-footer ul {
  	list-style: none;
  	margin-top: 1px;
}

.body-catalog .main-footer ul {
	margin-top: 0px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
  	background-color: #81b3d2;
  	width: 46px;
  	height: 48px;

}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
	background-color: #5496bd;
}

.social-button:focus path,
.social-button:active path {
	fill: #88b6d1;
	transition: 1s all;
}

.footer-copyright b {
	line-height: 26px;
	font-weight: 400;
	margin-right: 7px;
    margin-top: 8px;
}

.body-catalog .footer-copyright b {
	margin-right: 8px;
    margin-top: 1px;
}

.footer-copyright {
	display: flex;
	align-items: center;
	width: 210px;
	height: 43px;
}

.body-catalog .main-footer {
	position: relative;
}

a.logo-htmlacademy-small {
	display: inline-block;

}

.logo-htmlacademy-small {
	width: 116px;
	height: 42px;
	margin-top: 10px;
}

.body-catalog .logo-htmlacademy-small {
	margin-top: 5px;
}

.logo-htmlacademy-small:hover path {
	fill: #81b3d2;
}

.logo-htmlacademy-small:focus path,
.logo-htmlacademy-small:active path {
	fill: #bdbbbc;
}

/* Catalog */



.inner-link-nav a {
	color: #766357;
}

.catalog-hotels ul {
	list-style: none;
}

.directory-header a {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.directory-header a:hover {
	color: #81b3d2;
}

.directory-header a:active,
.directory-header a:focus {
	color: #cacaca;
}

.filter {

	background-image: url("../img/jpg/filter-background.jpg");
}

.filter form {
	display: flex;
}

.filter {
	padding-top: 27px;
	padding-bottom: 22px;
	padding-left: 60px;
	padding-right: 72px;
}

.infrastructure,
.type-of-housing {
	border: none;
}

.infrastructure ul,
.type-of-housing ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.infrastructure legend,
.type-of-housing legend {
	font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    
}

.type-of-housing {
	margin-left: 93px;
}

.filter-transfer1,
.filter-transfer2 {
	display: inline-block;
	cursor: pointer;
	position: relative;
	color: #ffffff;
	margin-left: 40px;
	margin-top: 21px;
}


.filter-transfer1.transfer2,
.filter-transfer2.transfer2 {
	margin-top: 24px;
}

.filter-transfer1.transfer3,
.filter-transfer2.transfer3 {
	margin-top: 25px;
}

.filter-transfer2 {
	margin-left: 43px;
}

.filter-transfer1::before,
.filter-transfer2::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 27px;
	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	left: -44px;
    top: -3px;
    background-position: center;
}

input:checked ~ .filter-transfer1::before,
input:checked ~ .filter-transfer2::before {
	background-image: url("../img/svg/checkbox-on.svg");
	background-repeat: no-repeat;
	left: -42px;
    top: -3px;
    background-position: center;
}

.filter-transfer1:disabled path,
.filter-transfer2:disabled path {
	fill: #6a6a6a;
}



/* filter */

.filter-range {
  width: 318px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 140px;
  padding-left: 65px;
}

.price-controls .max-price {
	width: 150px;
	padding-left: 72px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 84px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


/* sort */

.sorting {
	display: flex;
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.found {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.found p {
	margin: 0;
	display: inline-block;
}

.sorting-links {
	display: flex;
	align-items: center;
	width: 354px;
	margin-left: 49px;
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
}

.sorting-links p {
	margin: 0;
	margin-top: 4px;
}

.by-price {
	margin-left: 38px;
	margin-top: 4px;
}

.by-price,
.type,
.rated {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.type,
.rated {
	margin-left: 33px;
	margin-top: 4px;
}

.active-sorting {
	color: #81b3d2;
	border: none;
}


.sorting-links a:hover {
	color: #81b3d2;
}

.sorting-links a:active,
.sorting-links a:focus {
	color: #000000;
	border: none;
}



.scroll-links {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-left: auto;
	width: 34px;
	margin-top: 4px;
}

.up path,
.down path {
	fill: #cacaca;
}

.up:hover path,
.down:hover path {
	fill: #030303;
}

.scroll-links a {
	display: inline-block;
}

.active-scroll path {
	fill: #81b3d3;
}

.up:focus path,
.up:active path,
.down:focus path,
.down:active path {
	fill: #81b3d3;
}




/* hotels*/

.catalog-hotels {
	min-height: 455px;
}



.catalog-hotels-reservation {
	display: flex;
	flex-direction: column;
	margin: 0;
  	padding: 0;
    list-style: none;
}




.catalog-hotels-reservation-amara-resort,
.catalog-hotels-reservation-Desert-Queil-Inn,
.catalog-hotels-reservation-Villas-diablo {
	display: flex;
	padding: 25px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.amara-resort-info,
.Desert-Queil-info,
.Villas-diablo-info {
	margin: 0;
	padding: 0;
}

.hotels-info {
	padding: 0;
	margin-left: 30px;
}

.hotels-img img {
	display: inline-block;
	margin-top: 5px;
}

.hotels-rating {
	margin-left: auto;
}

h3.directory-header {
	margin: 0;
	text-align: left;
}

.amara-resort-info {
	margin-top: 7px;
}

.Desert-Queil-info {
	margin-top: 6px;
}

.Villas-diablo-info {
	margin-top: 5px;
}

.buttons-amara-resort,
.buttons-Desert-Queil,
.buttons-Villas-diablo {
	margin: 0;
	padding: 0;
}


a.button-more {
	display: inline-block;
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding-top: 4px;
	padding-right: 17px;
	padding-bottom: 4px;
	padding-left: 17px;

}

 a.button-reserve{
 	display: inline-block;
 	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
	padding-top: 4px;
	padding-right: 18px;
	padding-bottom: 4px;
	padding-left: 17px;
}

a.button-more:hover {
	background-color: #669ec0;
}

a.button-more:active,
a.button-more:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

a.button-reserve:hover {
	background-color: #604e43;
}

a.button-reserve:active,
a.button-reserve:focus {
	background-color: #503e33;
	color: #928a85;
}

.amara-resort-price {
	margin-left: 35px;
}

.Desert-Queil-price {
	margin-left: 61px;
}

.Villas-diablo-price {
	margin-left: 18px;
}

.buttons-amara-resort .button-more,
.buttons-Desert-Queil .button-more,
.buttons-Villas-diablo .button-more {
	margin-top: 13px;
}

.buttons-amara-resort .button-reserve,
.buttons-Desert-Queil .button-reserve,
.buttons-Villas-diablo .button-reserve {
	margin-left: 2px;
}




.amara-resort-rating,
.Desert-Queil-Inn-rating,
.Villas-diablo-rating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	height: 20px;
}

.amara-resort-rating {
	width: 91px;
}

.Desert-Queil-Inn-rating {
	width: 66px;
}

.Villas-diablo-rating {
	width: 41px;
}

ul.amara-resort-rating,
ul.Desert-Queil-Inn-rating,
ul.Villas-diablo-rating {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.amara-resort-rating li,
.Desert-Queil-Inn-rating li,
.Villas-diablo-rating li {
	background-image: url("../img/svg/star.svg");
	width: 17px;
	height: 18px;
}

.hotels-rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

ul.amara-resort-rating {
	margin-top: 3px;
}

ul.Desert-Queil-Inn-rating {
	margin-top: 2px;
}

ul.Villas-diablo-rating {
	margin-top: 2px;
}

.hotels-rating-info {
	display: inline-block;
	padding-top: 5px;
	width: 111px;
	height: 28px;
	background-color: #f2f2f2;
	text-align: center;
}

.rating-info-amara {
	margin-bottom: 7px;
	padding-left: 3px;
}

.rating-info-Desert,
.rating-info-Villas {
	margin-bottom: 8px;
	padding-left: 3px;
}

.catalog-hotels-reservation-Desert-Queil-Inn,
.catalog-hotels-reservation-Villas-diablo {
	padding-bottom: 24px;
}