html { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  
}

*, *::before, *::after { 
	box-sizing: inherit; 
}

/* стили для блоков макросетки */

  body > * {
  	border: 2px solid red;
  	

  }

  body > * > * {
  	border: 2px solid blue;

  }

  body > * > * > * {
  	border: 2px solid yellow;

  }

  body > * > * > * > * {
  	border: 2px solid green;

  }

 .site-wrapper {
  	width: 1200px;
  	margin: 0 auto;
  }


a {
text-decoration: none;
}

.main-header-logo {
 	position: absolute;
 	left: 50%;
 }

.main-navigation {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.site-navigation a {
  	color: #000000;
}

.site-navigation a:hover {
	color: #81b4d3;
}

.site-navigation a:active,
.site-navigation a:focus {
	color: #cacaca;
}



.main-presetation {
	min-height: 510px;
	text-align: center;
	padding-top: 77px; 
 	background-image: url("../img/jpg/index-bac-photo.jpg");
 	background-repeat: no-repeat;

}

.main-presetation img {
	
	
}

.main-reasons {
	min-height: 217px;
	background-color: #ffffff;
}

.main-reasons b {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.main-reasons-text {
	line-height: 26px;
}

.reasons {
	min-height: 1100px;
	background-color: #ffffff;
}

.main-hotel-search {
	min-height: 292px;
	background-color: #ffffff;
}

.main-hotel-search b {
	font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
}

.main-hotel-search-specify {
	line-height: 24px;
}

.modal-button {
	font: inherit;
	text-transform: uppercase;
	min-height: 67px;
	min-width: 570px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
	background-color: #766357;
	border: none;

}

.modal-button:hover {
	background-color: #604e44;
}

.modal-button:active,
.modal-button:focus {
	background-color: #503e32;
	color: #8f8a86;
}


.hotel-search p {
	font: inherit;
	text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
}

.hotel-search input {
	font: inherit;
	text-transform: uppercase;
	line-height: 26px;
    font-weight: 700;
	border: none;
	background-color: #f2f2f2;

}

.hotel-search input:hover {
	background-color: #ebebeb;
	border: none;
}


.hotel-search input:active,
.hotel-search input:focus {
	border: 2px solid #e5e5e5;
	background-color: transparent;
}

.button-main-form {
	font: inherit;
	text-transform: uppercase;
	color: #a9a9a9;
	text-align: center;
    vertical-align: middle;
    background-color: #f2f2f2;
    border: none;
}


.button-main-form:hover {
	color: #000000;
}

.button-main-form:active,
.button-main-form:focus {
	color: #81b3d4;
}
 
.button-search {
	font: inherit;
	text-transform: uppercase;
	min-height: 60px;
	min-width: 460px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
	background-color: #81b3d2;
	border: none;
}

.button-search:hover {
	background-color: #669ebf;
}

.button-search:active,
.button-search:focus {
	background-color: #5596be;
	color: #95b9d3;
}

.appointment {
	min-height: 473px;
}

.main-footer {
	display: flex;
	min-height: 121px;
	justify-content: space-between;

}

.main-footer-visit {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}


.main-footer ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-copyright b {
	line-height: 26px;
	font-weight: 400;
}

.inner-link-nav a {
	color: #766357;
}

.catalog-hotels ul {
	list-style: none;
}

.directory-header a {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.directory-header a:hover {
	color: #81b3d2;
}

.directory-header a:active,
.directory-header a:focus {
	color: #cacaca;
}

.filter {
	min-height: 220px;
}

.sorting {
	min-height: 86px;
	background-color: #ffffff;
}

.catalog-hotels {
	min-height: 455px;
}



.catalog-hotels-reservation {
	display: flex;
	flex-direction: column;
	margin: 0;
  	padding: 0;
    list-style: none;
}

.catalog-hotels-reservation-amara-resort {
	border-top: 1px solid #e3e3e3;
}

.catalog-hotels-reservation-Desert-Queil-Inn {
	border-top: 1px solid #e3e3e3;
}

.catalog-hotels-reservation-Villas-diablo {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}




.catalog-hotels-reservation-amara-resort,
.catalog-hotels-reservation-Desert-Queil-Inn,
.catalog-hotels-reservation-Villas-diablo {
	display: flex;
	justify-content: flex-start;
}

/* стили для блочков */
.hotels-img,
.hotels-info,
.hotels-rating {
	border: 2px dotted #3a6182;
}

.hotels-img {
	margin-left: 73px;
}

.hotels-info {
	margin-left: 30px;
}

.hotels-rating {
	margin-left: auto;
}

a.button-more {
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	padding-left: 17px;

}

 a.button-reserve{
 	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	padding-left: 17px;
}

a.button-more:hover {
	background-color: #669ec0;
}

a.button-more:active,
a.button-more:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

a.button-reserve:hover {
	background-color: #604e43;
}

a.button-reserve:active,
a.button-reserve:focus {
	background-color: #503e33;
	color: #928a85;
}

