html { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  
}

*, *::before, *::after { 
	box-sizing: inherit; 
}

/* стили для блоков макросетки 

  body > * {
  	border: 2px solid red;
  	

  }

  body > * > * {
  	border: 2px solid blue;

  }

  body > * > * > * {
  	border: 2px solid yellow;

  }

  body > * > * > * > * {
  	border: 2px solid green;

  }

 body > * > * > * > * > * {
  	border: 2px dotted blue;

  }

  */


 .site-wrapper {
  	width: 1200px;
  	margin: 0 auto;
  	box-shadow: 2px 4px 70px -12px rgba(0,0,0,0.75);
  }


a {
text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	position: relative;
	min-height: 56px;
}

.main-header-logo {
 	position: absolute;
 	left: 50%;
 	margin-left: -70px;
 }

.main-navigation {
  
  min-height: 50px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
  	margin: 0;
  	padding: 12px 72px;
  	padding-top: 14px;
}

.site-navigation li {
	width: 20%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}



.site-navigation li:nth-child(2) {
	margin-right: auto;
	padding-left: 30px;
}

.site-navigation li:nth-child(3) {
	margin-left: auto;
	padding-right: 33px;
}

.site-navigation li:nth-child(4) {

}





.site-navigation a {
  	color: #000000;
}

.site-navigation a:hover {
	color: #81b4d3;
}

.site-navigation a:active,
.site-navigation a:focus {
	color: #cacaca;
}



.main-presetation {
	text-align: center;
	padding-top: 77px; 
	padding-bottom: 77px;
 	background-image: url("../img/jpg/index-bac-photo.jpg");
 	background-repeat: no-repeat;

}


.main-reasons {
	
	background-color: #ffffff;
	text-align: center;
	padding-top: 55px;
	padding-bottom: 36px;
	
}

.main-reasons b {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.main-reasons-text {
	line-height: 26px;
	margin-top: 28px;
}


/* REasons */



.reason-one {
	display: flex;

}

.index-picture img {
	display: block;
}

.reason-one-reason {
	background-color: #81b3d2;
	color: white;
	text-align: center;
	width: 400px;
	padding-top: 23px;
}

.reason-one-reason p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
}

.reason-one-reason p:nth-child(2) {
	margin-top: 24px;
}

.reason-one-reason p:nth-child(3) {
	margin-top: 24px;
}

.general-reasons {
	display: flex;
	margin: 0;
  	padding: 0;
    list-style: none;
    text-align: center;
}

.general-reasons li {
	display: block;
	position: relative;
	width: 400px;
	padding-top: 139px;
	padding-bottom: 69px;
}

.general-reasons p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
    
 }

 p.icon-index-housing::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 73px;
 	top: 60px;
 	left: 163px;
 	background-image: url("../img/svg/icon-1.svg");
 	background-repeat: no-repeat;
 }

 p.icon-index-food::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 77px;
 	top: 61px;
 	left: 163px;
 	background-image: url("../img/svg/icon-3.svg");
 	background-repeat: no-repeat;
 }

 p.icon-index-souvenirs::before {
 	content: "";
 	position: absolute;
 	width: 77px;
 	height: 77px;
 	top: 56px;
 	left: 168px;
 	background-image: url("../img/svg/icon-2.svg");
 	background-repeat: no-repeat;
 }


.reason-two {
	display: flex;
}

.last-reasons {
	display: flex;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 62px;
}

.last-reasons p {
	margin: 0;
}

.last-reasons div {
	width: 400px;
}

.last-reasons p:nth-child(1) {
	font-size: 21px;
    font-weight: 700;
    margin-bottom: 22px;
}

.last-reasons p:nth-child(2) {
	margin-bottom: 21px;
}


/*form */

.main-hotel-search {
	position: relative;
	text-align: center;
	padding-top: 30px;
}

.main-hotel-search b {
	font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
}

.main-hotel-search-specify {
	line-height: 24px;
	margin-top: 24px;
}

.modal-button {
	font: inherit;
	text-transform: uppercase;
	min-height: 67px;
	min-width: 570px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
	background-color: #766357;
	border: none;
	margin-top: 34px;
	padding-top: 29px;
    padding-bottom: 31px;
}

.modal-button:hover {
	background-color: #604e44;
}

.modal-button:active,
.modal-button:focus {
	background-color: #503e32;
	color: #8f8a86;
}

form.hotel-search {
	position: absolute;
	width: 568px;
	z-index: 1;
	background: #ffffff;
	padding: 55px;
	left: 50%;
	margin-left: -284px;
}


.hotel-search div {
	display: flex;
	font: inherit;
	text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    align-items: center;
}

.hotel-search input {
	font: inherit;
	text-transform: uppercase;
	line-height: 26px;
    font-weight: 700;
	border: none;
	background-color: #f2f2f2;

}

input#arrival-date,
input#date-of-departure {
	width: 346px;
	height: 38px;
	padding: 13px;
	margin-left: auto;
}

div.departure {
	margin-top: 28px;
}



div.choice {
	display: flex;
	align-items: center;
	margin-top: 34px;
}

.adults,
.children {
	display: flex;
	align-items: center;
}

.adults-choice,
.children-choice {
	display: inline-flex;
	align-items: center;
	background-color: #f2f2f2;
}

input#numeral1,
input#numeral2 {
	text-align: center;
	width: 38px;
	height: 38px;
}

.button-main-form {
	width: 38px;
	height: 38px;
}

.hotel-search input:hover {
	background-color: #ebebeb;
	border: none;
}


.hotel-search input:active,
.hotel-search input:focus {
	border: 2px solid #e5e5e5;
	background-color: transparent;
}

.button-main-form {
	font: inherit;
	text-transform: uppercase;
	color: #a9a9a9;
	text-align: center;
    vertical-align: middle;
    background-color: #f2f2f2;
    border: none;
}


.button-main-form:hover {
	color: #000000;
}

.button-main-form:active,
.button-main-form:focus {
	color: #81b3d4;
}
 
.button-search {
	font: inherit;
	text-transform: uppercase;
	min-height: 60px;
	min-width: 458px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
	background-color: #81b3d2;
	border: none;
}

button.button-search {
	margin-top: 49px;
}

.button-search:hover {
	background-color: #669ebf;
}

.button-search:active,
.button-search:focus {
	background-color: #5596be;
	color: #95b9d3;
}

.appointment {
	position: relative;
	z-index: 0;
}

.appointment img {
	max-width: 100%;
}

.main-footer {
	display: flex;
	min-height: 121px;
	justify-content: space-between;

}

.main-footer-visit {
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.footer-social-buttons {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;

}


.main-footer ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-copyright b {
	line-height: 26px;
	font-weight: 400;
}

.footer-copyright {
	display: flex;
	align-items: center;
}


/* Catalog */



.inner-link-nav a {
	color: #766357;
}

.catalog-hotels ul {
	list-style: none;
}

.directory-header a {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.directory-header a:hover {
	color: #81b3d2;
}

.directory-header a:active,
.directory-header a:focus {
	color: #cacaca;
}

.filter {
	min-height: 220px;
}

.sorting {
	display: flex;
	min-height: 86px;
	background-color: #ffffff;
}

.found {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	width: 125px;
	text-align: center;
	margin-left: 72px;
}

.by-price {
	margin-left: 38px;
}

.type,
.rated {
	margin-left: 34px;
}



.sorting-links {
	display: flex;
	align-items: center;
	width: 420px;
	margin-left: 49px;
}

.scroll-links {
	margin-left: auto;
	width: 37px;
	margin-right: 72px;
}


/* hotels*/

.catalog-hotels {
	min-height: 455px;
}



.catalog-hotels-reservation {
	display: flex;
	flex-direction: column;
	margin: 0;
  	padding: 0;
    list-style: none;
}

.catalog-hotels-reservation-amara-resort {
	border-top: 1px solid #e3e3e3;
}

.catalog-hotels-reservation-Desert-Queil-Inn {
	border-top: 1px solid #e3e3e3;
}

.catalog-hotels-reservation-Villas-diablo {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}




.catalog-hotels-reservation-amara-resort,
.catalog-hotels-reservation-Desert-Queil-Inn,
.catalog-hotels-reservation-Villas-diablo {
	display: flex;
	padding: 30px 72px;
}

/* стили для блочков */
.hotels-img,
.hotels-info,
.hotels-rating {
	border: 2px dotted #3a6182;
}

.hotels-info {
	padding: 0;
	margin-left: 30px;
}

.hotels-img {
	padding-top: 4px;
	
}

.hotels-rating {
	margin-left: auto;
}

h3.directory-header {
	margin-top: 0;
	text-align: left;
}


a.button-more {
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	padding-left: 17px;

}

 a.button-reserve{
 	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	background-color: #766357;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	padding-left: 17px;
}

a.button-more:hover {
	background-color: #669ec0;
}

a.button-more:active,
a.button-more:focus {
	background-color: #5496bd;
	color: #94b9d2;
}

a.button-reserve:hover {
	background-color: #604e43;
}

a.button-reserve:active,
a.button-reserve:focus {
	background-color: #503e33;
	color: #928a85;
}

